@charset "utf-8";

@font-face {
    font-family:'Noto Light';
    font-weight:normal;
    font-style:normal;
    src:url(../font/NotoSansKR-Light.eot);
    src:url(../font/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Light.woff) format('woff')
}
@font-face {
    font-family:'Noto Regular';
    font-weight:normal;
    font-style:normal;
    src:url(../font/NotoSansKR-Regular.eot);
    src:url(../font/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Regular.woff) format('woff')
}
@font-face {
    font-family:'Noto Medium';
    font-weight:normal;
    font-style:normal;
    src:url(../font/NotoSansKR-Medium.eot);
    src:url(../font/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Medium.woff) format('woff')
}
@font-face {
    font-family:'Noto Bold';
    font-weight:normal;
    font-style:normal;
    src:url(../font/NotoSansKR-Bold.eot);
    src:url(../font/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Bold.woff) format('woff')
}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-size:14px;line-height:1.25;font-family:"Noto Regular", '돋움', 'Dotum';color:#666}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{color:#666;text-decoration:none}
table{width:100%;border-collapse:collapse}
hr{display:none}
h1,h2,h3,h4,h5{font-size:1em;font-weight:normal}
img{vertical-align:top}
select,input{vertical-align:top}
strong{font-family:"Noto Bold"}

input[type="radio"], input[type="checkbox"]{position:relative;top:1px;width:15px;height:15px}

html, body, #wrap{height:100%;background-color:#ecf0f5}